<div class="success">
<h1 class="thanks thank_you_title "> Thank you</h1>
<h2 class="thanks order_received">Your order was received. We'll send you an email when your order is ready for pickup at :</h2>
<p class="thanks home_address">11 Broadway, New York, NY.</p>
</div>
