// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.nav_bar {
    margin-bottom: 15px
}
.login_form {
  text-align: center;
}
.title {
    color: white;
    padding-top: 300px;
    margin: 0 auto;
    padding-left: 20%;
    max-width: 68%;
    text-align: center;
}

  .order_received {
  color: white;
  text-align: center;
  font-size: 30px;
}

.main_photo {
  width: 300px;
  margin-bottom: 45px;
  padding: 45px;
}

.your_cart {
    margin-left: 15px;
}
.centered {
  margin: 0 auto;
  text-align: center;
  }

.icon_photo {
    width: 300px;
}

.product_image {
  width: 140px;
  padding: 15px;
}

.header {
  background-image: url('./images/r.jpg');
  height: 750px;
  margin: 0 auto;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-color: white;
  margin-bottom: 10px;
}

ul, ol, li {
  list-style: none;
}
 .directory {
     padding: 10px;
     text-align: center;
      margin-top:  20px;
     margin-bottom:  20px;
 }
.btn {
  padding-top: 20px ;
  width: 30px;
}
.body {
  margin: 0 auto;
}
.account_button {
    float: right;
    padding-right: 15px;
}

.home_button {
    padding-left: 75px;
}

.cart_button {
    float: right;
    padding-right: 45px;
}

.create_cart {
  text-align: center;
}

 .checkout_text {
   text-align: center;
   padding-top: 20px;
    height: 74px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    text-align: center;
    color: #ffffff;
 }
.checkout_button {
  width: 40%;
  height: 54px;
  margin:  60px auto 40px;
  border-radius: 10px;
  background-color: #93bfae;
  color: #ffffff;
  font-size: 16px;
}

.total_cost {
  margin-bottom: -25px;
}
.clear_button {
  width: 120px;
  height: 34px;
  border-radius: 2px;
  background-color: #93bfae;
  color: #ffffff;
  font-size: 12px;
  margin: 10px;
}

.edit_account_button {
  width: 100px;
  height: 34px;
  margin-bottom: 100px;
  border-radius: 2px;
  background-color: #93bfae;
  color: #ffffff;
  font-size: 10px;
}

.confirm_button {
  width: 55%;
  height: 54px;
  margin:  60px auto 40px;
  border-radius: 10px;
  background-color: #93bfae;
  color: #ffffff;
  font-size: 16px;
}


.alert {
  color: white;
  font-size:  22px;
  background-color: #93bfae;
  width: 500px;
  border-radius:  2px;
  margin: 15px auto;
  text-align: center;
}

.alerts {
  color: white;
  font-size:  16px;
  background-color: #93bfae;
  width: 500px;
  border-radius:  2px;
  margin:5px auto;
  text-align: center;
}

.checkout_form {
  width: 45%;
  float: left;
  padding-left: 140px;
}

.your_cart_form {
  float: left;
  width: 40%;
}

.list_for_checkout li {
  padding-bottom: 7px;
}

.form_titles {
width: 300px;
border-bottom: 2px solid #93bfae;
height: 34px;
font-size: 28px;
font-weight: bold;
color: #463225;
}

.form_title {
  margin: 30px auto;
  width: 300px;
  border-bottom: 2px solid #93bfae;
  height: 34px;
  font-size: 28px;
  font-weight: bold;
  color: #463225;
  text-align: center;
}

.border_bottom {
  padding:15px 0px 5px 0px;
  width: 250px;
  border-bottom: 1px solid #93bfae;
}

.border_bottoms {
  padding:15px 0px 5px 0px;
  width: 550px;
    margin: 0 auto;
  border-bottom: 3px solid #93bfae;
}

.bold {
  display: inline;
  padding-right: 50px;
  font-weight: bold;
}

.bolder {
  font-weight: bold;
  letter-spacing: 1px;
}

.space {
  display: inline;
  padding-right: 40px;
}
.spaces {
  display: inline;
  padding-right: 60px;
}

a {
  color:  black;
  font-weight: bold;
  text-decoration: none;
 }

 .display_inline {
   display: inline;
 }
