// Place all the styles related to the Shoppers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkout_header {
  width: 250px;
  display: block;
  margin: 0 auto;
  padding: 40px;
  }

.create_btn {
  width: 400px;
  height: 74px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  margin-top: 20px;
   border-radius: 5px;
  font-stretch: normal;
  line-height: normal;
  background-color: #93bfae;
  color: #ffffff;
}

.signup {
   margin: auto;
   text-align: center;
}

.add_to_cart {
 width: 215px;
 height: 40px;
 background-color: #93bfae;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
}

input[type=text] {
    width: 300px;
    font-size: 20px;
    margin: 10px;
    border: solid 1px #979797;
    height: 40px;
    border-radius: 5px;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
  height: 50px;
  border-radius: 5px;
    width: 450px;
}

input[type=number] {
    width: 40px;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    border: solid 1px #979797;
    height: 30px;
    border-radius: 5px;
}
.create_cart_page {
  margin-left: 80px;
}

.single_product {
  float: left;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
 border: solid 1px #979797;
 width: 215px;
 height: 306px;
 margin: 40px 5px 45px 125px;
 padding-top: 10px;
}
