
<header>
icons go here
</header>
<div class= "header">


<h1>Farm to table</h1>
<h2> — Your Neighborhood Grocer — </h2>


<%= link_to 'Vegetables', products_path(@product) %>
<%= link_to 'Fruits', products_path(@product) %>
<%= link_to 'Dairy', products_path(@product) %>
<%= link_to 'Meat', products_path(@product) %>
</div>
